.top
  - if receiver_signed_in?
    %strong= link_to current_receiver.name
    = link_to 'プロフィール変更', edit_receiver_registration_path, class: "receiver_left"
    = link_to 'ログアウト', destroy_receiver_session_path, method: :delete
    = link_to '投稿', new_member_chat_path

    - @member_chats.each do |member_chat|
      %hr/
      %p
      %span 投稿内容: 
      = link_to member_chat.content
      = link_to member_chat.receiver.name, member_chat_path(member_chat.id)

  - elsif advisor_signed_in?
    %strong= link_to current_advisor.name
    = link_to 'プロフィール変更', edit_advisor_registration_path
    = link_to 'ログアウト', destroy_advisor_session_path, method: :delete, class: "advisor_right"
    -# = link_to '投稿', new_member_chat_path

    - @member_chats.each do |member_chat|
      %hr/
      %p
      %span 投稿内容: 
      = link_to member_chat.content
      = link_to member_chat.receiver.name, member_chat_path(member_chat.id)