.wrapper
  .header
    .header__main
      .header__main__top
        .header__main__top__1
          producteur  
      .header__main__bottom
        %a プロの手でワンランク上の自分を目指すあなたに！

    .header__sub
      .header__sub__1
        - if receiver_signed_in?
          %strong= link_to current_receiver.name,page_class
          -# , pages_show_path
          = link_to 'プロフィール変更', edit_receiver_registration_path, class: "receiver_left"
          = link_to 'ログアウト', destroy_receiver_session_path, method: :delete
        - elsif advisor_signed_in?
          %strong= link_to current_advisor.name,page_class
          -# , pages_show_path
          = link_to 'プロフィール変更', edit_advisor_registration_path
          = link_to 'ログアウト', destroy_advisor_session_path, method: :delete, class: "advisor_right"
        - else
          一般の方
          = link_to 'サインアップ', new_receiver_registration_path, class: "receiver_left"
          = link_to 'ログイン', new_receiver_session_path
          美容職の方
          = link_to 'サインアップ', new_advisor_registration_path
          = link_to 'ログイン', new_advisor_session_path, class: "advisor_right"


  .body
    .body__main
      .body__main__top 
        = link_to 'メンバーのかたはこちら'
      .body__main__middle
        our mission
      .body__main__bottom
        Howーto
        .body__main__bottom__1
          美容のプロと気軽に！1対1で相談できる！
          人に言いにくい悩みも気軽に内緒で！



  .footer
    %li 髪型やメイク等の美容に関係する画像をあげていただいて、やり取りできます。
    %li わからないことは直接相談して解決していただけます。
    %li 匿名でご使用いただけます。(予約等される場合は、本人名義が必要になります)
    %li メッセージでやり取りしていただいて、そのまま施術の予約をしていただくこともできます。
    %li お互いに気持ちの良いやりとりをしていただくために、虚偽の深刻等はしないようにお願いします。
